<div class="container container-input">
    <h1>Create New User Identity</h1>
  
    <a href="#" routerLink="/useridentity/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
            <label for="userId">User Id</label>
            <input 
                formControlName="userId"
                id="userId" 
                type="text" 
                class="form-control">
            <div *ngIf="f['userId'].touched && f['userId'].invalid" class="alert alert-danger">
                <div *ngIf="f['userId'].errors && f['userId'].errors['required']">
                User Id is required.
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <label for="email">Email:</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control">
            <div *ngIf="f['email'].touched 
            && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors 
                && f['email'].errors['required']">
                Email is required.
                </div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="fullName">Full Name</label>
             <input 
                formControlName="fullName"
                id="fullName" 
                type="text" 
                class="form-control">
            <div *ngIf="f['fullName'].touched && f['fullName'].invalid" class="alert alert-danger">
                <div *ngIf="f['fullName'].errors && f['fullName'].errors['required']">
                Full Name is required.
                </div>
            </div>
        </div>

           
        <div class="form-group">
            <label for="sourceSystem">Source System</label>
             <input 
                formControlName="sourceSystem"
                id="sourceSystem" 
                type="text" 
                class="form-control">
            <div *ngIf="f['sourceSystem'].touched && f['sourceSystem'].invalid" class="alert alert-danger">
                <div *ngIf="f['sourceSystem'].errors && f['sourceSystem'].errors['required']">
                Source System is required.
                </div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="isActive" class="pe-3">Is Active </label>
            <input 
                formControlName="isActive"
                id="isActive" 
                type="checkbox" 
                class="form-check-input">
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>