<div class="container">
    <h1>View User Identity</h1>
  
    <a href="#" routerLink="/useridentity/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>User Id:</strong>
        <p>{{ userIdentity.userId }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{ userIdentity.email }}</p>
    </div>
    
    <div>
        <strong>Full Name:</strong>
        <p>{{ userIdentity.fullName }}</p>
    </div>

    <div>
        <strong>Source System:</strong>
        <p>{{ userIdentity.sourceSystem }}</p>
    </div>

    <div>
        <strong>Last Updated:</strong>
        <p>{{ userIdentity.lastUpdated }}</p>
    </div>

    <div>
        <strong>Is Active:</strong>
        <p>{{ userIdentity.isActive }}</p>
    </div>
   
</div>