/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
  padding: 0 !important;
}
.form-group {
    margin-top: 24px;
}
.container {
    padding: 24px;
}
.container.container-header {
    max-width: unset !important;
    background-color: #2074EF;
    padding: 0;
}
.container.container-header * {
    color: #FFFFFF;
}
.container.container-input {
    padding: 24px;
    background-color: #F8F8F8;
    margin-top: 24px;
    max-width: 555px;
}
.container.container-feedback-message {
    padding: 24px;
    border: solid 1px #CCCCCC;
    margin-top: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 13px 1px #CCCCCC;
    display: block;
    position: relative;
}
.container.container-feedback-message p{
    
    
}
.container.container-feedback-message .form-group{
    margin-top: 0;    
}
.card-deck {

}
.card-deck .card {
    max-width: 300px;
    float: left;
    margin: 24px 24px 0 0;
    border-radius: 24px;
    border-top: solid 13px #2074EF;
    box-shadow: 9px 13px 13px 1px #CCCCCC;
}
.card-user-identity {

}
.card-user-identity h5 {
    text-align: center;
}
.card-user-identity p {
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
}
.card-user-identity .action-container {
    margin-top: 12px;
    display: flex;
}
.card-user-identity .action-container a {
    flex: 1;
}
.card-user-identity .profile-letters {
    width: 120px;
    height: 120px;
    border: dashed 3px #2074EF;
    background-color: #FFFFFF;
    color: #2074EF;
    text-align: center;
    border-radius: 100%;
    padding: 15px;
    margin: 0 auto 12px auto;
    font-size: 3em;
}